* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

main {
    padding: 2rem;
}

.service {
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #000;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.service-image {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}


/* NEW */
.ser-container1 {
	padding: 40px 20px;
	background: linear-gradient(to right, #74ebd5, #acb6e5);
  }
  
  .ser-container2 {
	text-align: center;
  }
  
  .ser-img {
	float: left;
  }

  .ser-div1 {
	display: flex;
	border-radius: 8px;
	display: inline-block;
	width: 29%;
	margin: 1.5%;
	padding: 20px;
	-webkit-box-shadow: 7px 8px 9px -5px rgba(189, 189, 189, 1);
  
	-moz-box-shadow: 7px 8px 9px -5px rgba(189, 189, 189, 1);
  
	box-shadow: 7px 8px 9px -5px rgba(189, 189, 189, 1);
	vertical-align: top;
  }
  
  .bck1 {
	background-color: #ffebee;
	border: 3px solid #000;
  }
  
  .bck2 {
	background-color: #e8f5e9;
	border: 3px solid #000;
  }
  
  .bck3 {
	background-color: #e3f2fd;
	border: 3px solid #000;
  }

  
   
  .ser-div1:hover {
	-webkit-box-shadow: 9px 10px 11px -5px rgba(189, 189, 189, 1);
  
	-moz-box-shadow: 9px 10px 11px -5px rgba(189, 189, 189, 1);
  
	box-shadow: 9px 10px 11px -5px rgba(189, 189, 189, 1);
  }
  
  .ser-div3 {
	text-align: center;
	padding-top: 3.5%;
  }
  
  .heading-ser {
	color: #444;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 1.5%;
  }
  
  .heading-main {
	color: #333;
	font-family: "Oxygen", sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 1.5%;
  }
  
  .par-container1 {
	margin: 0 auto;
	max-width: 1200px;
  }
  
  .par-container2 {
	text-align: center;
  }
  
  .par-div {
	display: inline-block;
	margin: 1.5%;
	border: 1px #d8d8d8 solid;
	text-align: center;
	width: 12.9%;
  }
  
  .par-img {
	width: 200px;
	max-width: 100%;
  }
  
  .botscr {
	width: 100%;
  }
  
  .botscr div {
	margin: 2%;
	margin: 0 auto;
	max-width: 1135px;
  }
  
  .br-custom2 {
	line-height: 50px;
  }
  
  img.grayscale {
	opacity: 0.9;
	filter: alpha(opacity=70);
	float: left;
	height: 40px;
	cursor: pointer;
	margin-right: 5px;
  }
  
  img.grayscale:hover {
	opacity: 1;
	filter: alpha(opacity=100);
  }
  
  .ftr-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	color: #eee;
	font-size: 13px;
	text-align: center;
	background-color: #383838;
	padding: 2% 0% 2% 0%;
  }
  
  .social {
	width: 25px;
	margin: 5px;
  }
  
  .con-container {
	max-width: 1130px;
	margin: 0 auto;
	padding: 2%;
	padding-top: 2.5%;
	text-align: justify;
	clear: both;
  }
  
  .heading-main {
	color: #5a5a5a;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	margin: 1.5% 0;
	font-weight: 700;
	display: inline-block;
  }
  
  .fxdiv {
	display: flex;
  }
  
  .addr-container {
	width: 50%;
	float: left;
	background-color: #fcfcfc;
	height: auto;
	border: 1px #dddddd solid;
	margin-top: 10px;
	margin-right: 1%;
  }
  .contact-heading {
	font-size: 16px; text-transform:uppercase;
	 font-weight: bold;
	 text-align: center;
	background-color: #e9e9e9;
	border-bottom: 1px solid #dddddd;
	padding: 7px;
	color: #555;
  } 
 
  .adddiv {
	padding-left: 5%;
	padding-right: 5%;
  }
  
  .btnbtma {
	border: 2px solid #878787;
	padding: 7px 14px;
	white-space: nowrap;
	margin-top: 6%;
	margin-right: 14px;
	color: #444;
	text-decoration: none;
	-webkit-transition: ease-in-out 0.4s;
	-moz-transition: ease-in-out 0.4s;
	-o-transition: ease-in-out 0.4s;
	transition: ease-in-out 0.4s;
  }
  
  .btnbtma:hover {
	border: 2px solid #4c4c4c;
	background-color: #4c4c4c;
	color: #fff;
	text-decoration: none;
  }
  
  .addr-container2 {
	width: 49%;
	float: left;
	background-color: #c8c8c8;
	height: auto;
	border: 1px #dddddd solid;
	margin-top: 10px;
	margin-right: 1%;
  }
  .contact-heading2 {
	font-size: 18px;
	 text-transform: uppercase; 
	font-weight: bold;
	text-align: center; 
	border-bottom: 1px solid #DDDDDD; 
	 padding: 7px;
	color: #383838;
	background-color: #ebebeb;
	font-family: "Roboto";
  } 
   .adddiv2 a.linkapl {
	background-color: #424242;
	text-decoration: none;
	display: block;
	padding: 3%;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: "Roboto";
	-webkit-transition: ease-in-out 0.4s;
	-moz-transition: ease-in-out 0.4s;
	-o-transition: ease-in-out 0.4s;
	transition: ease-in-out 0.4s;
  }
  
  .adddiv2 a.linkapl:hover {
	color: #fff;
	text-decoration: none;
	background-color: #2c2c2c;
  }
  
  .apldet {
	text-align: justify;
	overflow: hidden;
	font-family: "Roboto";
	font-size: 16px;
  }
  
  .apldet h3 {
	font-size: 22px;
	color: #424242;
	font-family: "Roboto", sans-serif;
	margin-top: 0;
	text-align: left;
	font-weight: 700;
  }
  
  .apldet img {
	float: right;
	width: 45%;
	margin-left: 2%;
  }
  
  .apldet img.aplleft {
	float: left;
	width: 45%;
	margin-left: 0;
	margin-right: 2%;
  }
  .apldet video.aplleft {
	float: left;
	width: 45%;
	margin-left: 0;
	margin-right: 2%;
  }
  
  .apldet ul {
	padding-left: 2%;
  }
  
  .hr-solu {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #ddd;
  }
  
  .mid-container > div.aplenq {
	display: inline-block;
	/* float: right; */
  }
  .aplenq2 {
	border: 2px solid #878787;
	padding: 7px 14px;
	white-space: nowrap;
	margin-top: 6%;
	margin-right: 14px;
	color: #444;
	text-decoration: none;
	-webkit-transition: ease-in-out 0.4s;
	-moz-transition: ease-in-out 0.4s;
	-o-transition: ease-in-out 0.4s;
	transition: ease-in-out 0.4s;
  }
  .aplenq2:hover {
	border: 2px solid #4c4c4c;
	background-color: #4c4c4c;
	color: #fff;
	text-decoration: none;
  }
  .mid-container > div.aplenq a:hover {
	text-decoration: none;
  }
  
  .butmima {
	width: 125px;
	height: 37px;
	display: inline-block;
	line-height: 37px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: ease-in-out 0.4s;
	-moz-transition: ease-in-out 0.4s;
	-o-transition: ease-in-out 0.4s;
	transition: ease-in-out 0.4s;
	animation: blinker 3s linear infinite;
	background-color: red;
	text-decoration: none;
	color: #fff;
	font-size: 19px;
	margin-left: 35%;
  }
  
  .butmima:hover {
	color: #fff;
	text-decoration: none;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0.7;
	}
  }
  .pop-tb{
	width:90%;border: 1px solid #dddddd;  height:28px; border-radius:0px;padding-left: 5px;margin-bottom: 10px;
}

.pop-ms{width:90%; height:70px;border: 1px solid #dddddd;   border-radius:0px;padding-left: 5px;} */

	
.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 400%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
} 

hpro_black{
position: fixed;z-index: 99;
}


.hpro_pop_div{
position: fixed;z-index: 1100;right: 0;top: 98%; text-align: center;
}


.white_content {
display: none;
position: fixed;
top: 25%;
left: 37%;
right:37%;
height: auto;
padding: 16px;
border: 6px solid #1676dd;
background-color: white;
z-index:1002;
overflow: auto;
width: auto;text-align: left;	
}



#light1{
	color: #1676dd;
}	

#light1 div{
	text-align: justify;color:#444;
}

#light1 form{
	text-align: center;
}

#light1  img{
float: right;
}


#light2{
	color: #1676dd;
}	

#light2 div{
	text-align: justify;color:#444;
}

#light2 form{
	text-align: center;
}

#light2  img{
float: right;
}



#light3{
	color: #1676dd;
}	

#light3 div{
	text-align: justify;color:#444;
}

#light3 form{
	text-align: center;
}

#light3  img{
float: right;
}


#light4{
	color: #1676dd;
}	

#light4 div{
	text-align: justify;color:#444;
}

#light4 form{
	text-align: center;
}

#light4  img{
float: right;
}


#light5{
	color: #1676dd;
}	

#light5 div{
	text-align: justify;color:#444;
}

#light5 form{
	text-align: center;
}

#light5  img{
float: right;
}


#light6{
	color: #1676dd;
}	

#light6 div{
	text-align: justify;color:#444;
}

#light6 form{
	text-align: center;
}

#light6  img{
float: right;
}


#light7{
	color: #1676dd;
}	

#light7 div{
	text-align: justify;color:#444;
}

#light7 form{
	text-align: center;
}

#light7  img{
float: right;
}


#light8{
	color: #1676dd;
}	

#light8 div{
	text-align: justify;color:#444;
}

#light8 form{
	text-align: center;
}

#light8  img{
float: right;
}


#light9{
	color: #1676dd;
}	

#light9 div{
	text-align: justify;color:#444;
}

#light9 form{
	text-align: center;
}

#light9  img{
float: right;
}	



#light10{
	color: #1676dd;
}	

#light10 div{
	text-align: justify;color:#444;
}

#light10 form{
	text-align: center;
}

#light10  img{
float: right;
}	

#light11{
	color: #1676dd;
}	

#light11 div{
	text-align: justify;color:#444;
}

#light11 form{
	text-align: center;
}

#light11  img{
float: right;
}	

#light12{
	color: #1676dd;
}	

#light12 div{
	text-align: justify;color:#444;
}

#light12 form{
	text-align: center;
}

#light12  img{
float: right;
}	


#light13{
	color: #1676dd;
}	

#light13 div{
	text-align: justify;color:#444;
}

#light13 form{
	text-align: center;
}

#light13  img{
float: right;
}





.btn-blue {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 7px 16px 7px 16px;
	text-decoration: none;
  }
  
  .btn-blue:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
  }
  
  .btn-white{
  border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 6px 23px 6px 23px; text-decoration:none; display:inline-block;font-weight:bold; color: #404040;cursor: pointer;
   background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
   background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
   background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
   background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
   background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
   background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  }
  
  .btn-white:hover{
   border:1px solid #bfc4c4;
   background-color: #EBF0F0; background-image: -webkit-gradient(linear, left top, left bottom, from(#EBF0F0), to(#D9D5D5));
   background-image: -webkit-linear-gradient(top, #EBF0F0, #D9D5D5);
   background-image: -moz-linear-gradient(top, #EBF0F0, #D9D5D5);
   background-image: -ms-linear-gradient(top, #EBF0F0, #D9D5D5);
   background-image: -o-linear-gradient(top, #EBF0F0, #D9D5D5);
   background-image: linear-gradient(to bottom, #EBF0F0, #D9D5D5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EBF0F0, endColorstr=#D9D5D5);
  }
  
  .read-box{
	  width: 105px; height:33px;;display:inline-block;line-height: 33px; cursor: pointer;text-align: center;
	  -webkit-transition: ease-in-out .4s;
	  -moz-transition:  ease-in-out .4s;
	  -o-transition:  ease-in-out .4s;
	  transition:   ease-in-out .4s;color: #666;
  }
  
  .read-box:hover a{
	  color: #fff;
  }
  
  /* .read-box a{
	  
  } */
  
  .read-box a:hover{
	  color: #fff;text-decoration: none;
  }
  
  
  .btbg1{
	  background-color:#efefef;border:2px solid #3c40aa;;
  }
  
  
  .btbg1:hover{
	  background-color:#3c40aa;border:2px solid #3c40aa;color: #fff;
  }
  
  
  .btbg2{
	  background-color:#efefef;border:2px solid #8f1bbd;
  }
  
  
  .btbg2:hover{
	  background-color:#8f1bbd;border:2px solid #8f1bbd;color: #fff;
  }
  
  .btbg3{
	  background-color:#efefef;border:2px solid #1676dd;
  }
  
  
  .btbg3:hover{
	  background-color:#1676dd;border:2px solid #1676dd;color: #fff;
  }
  
  
  
  .btfix{
	  width: 32px; height:108px;display:inline-block;line-height: 33px; cursor: pointer;text-align: center;border-right: 0px;border-radius: 6px 0px 0px 6px;
	  -webkit-transition: ease-in-out .2s;
	  -moz-transition:  ease-in-out .2s;
	  -o-transition:  ease-in-out .2s;
	  transition:   ease-in-out .2s;background-image: url('../image/btfx-img.png');background-color: #2973c1;border:2px solid #2973c1;
  }
  
  .btfix:hover{
	  background-image: url('../image/btfx-img-hover.png');background-color: #1e5ab0;border:2px solid #1e5ab0;
  }
  
  
  
  .read-div1{
	  float: none;margin-top: 5%;
  }
  
  
  .read-box2{
	  width: 105px; height:33px;display:inline-block;background-color:#fff; line-height: 33px;border:2px;border-color:#1676dd;border-style:solid;cursor: pointer;text-align: center; margin-top: 0%; margin-bottom: 2%;
		-webkit-transition: ease-in-out .4s;
	  -moz-transition:  ease-in-out .4s;
	  -o-transition:  ease-in-out .4s;
	  transition:   ease-in-out .4s;
	  /* float: right; */
  }
  
  .read-box2:hover{
	  background-color:#1676dd;border:2px;border-color:#636af3;border-style:solid;
  }
  
  .read-box2:hover a{
	  color:#fff;text-decoration: none;
  }
  
  
  .hpro-bt{
	  float: left;
  }
  
  
  
  .read-box3{
	  width: 150px; height:38px;display:inline-block;background-color:#fff; line-height: 38px;border:2px;border-color:#1676dd;border-style:solid;cursor: pointer;text-align: center; margin-top: 2%; margin-bottom: 2%;
  }
  
  .read-box3:hover{
	  background-color:#1676dd;border:2px;border-color:#636af3;border-style:solid;
  }
  
  .read-box3:hover a{
	  color:#fff;text-decoration: none;
  }
  
  
  

